.navbar {
  background: #673ab7; 
  background: -webkit-linear-gradient(
    to right,
    #512da8,
    #673ab7
  ); 
  background: linear-gradient(
    to right,
    #512da8,
    #673ab7
  );
}


.nav_link{
    color: white;
    text-decoration: none;
}

.nav_link:hover{
  color: white;
  text-decoration: none;
}